body {
  margin: 0;
  padding: 20px;
  background: linear-gradient(-45deg, #9469E4, #3F2AA0, #010030);
  background-size: 300% 300%;
  animation: fondoEstelar 30s ease infinite;
  color: white;
  font-family: 'Raleway', sans-serif;

}

.fila-con-decada {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.decada-label {
  font-weight: bold;
  font-size: 24px;
  width: 70px;
  margin-right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.grid-canciones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1000px;
}

.cancion {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.cancion:hover {
  filter: brightness(1.2);
  cursor: pointer;
  z-index: 10;
  transform: scale(1.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.circulo-blanco {
  background-color: white;
  border-radius: 50%;
}

.billboard {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}

.popularidad-circulos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.danceability {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.dance-texto {
  font-size: 14px;
  color: white;
  margin-top: 8px;
  max-width: 200px;
}

.iconos {
  position: absolute;
  bottom: 15%; 
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  pointer-events: none;
}

.selector {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.selector-derecho {
  right: 7%;
}

.selector-izquierdo {
  left: 7%;
  transform: translateY(-50%) scaleX(-1);
}

.nombre-cancion {
  margin-top: 8px;
  font-size: 14px;
  color: white;
}

.nombre-artista {
  font-size: 12px;
  color: #aaa;
}

@keyframes fondoEstelar {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.explicacion-reproductor {
  padding: 30px;
  margin: 40px auto;
  border-radius: 0px;
  width: 85%;
  max-width: 70ch;
  margin: 0 auto;
  line-height:1.6;

}

.explicacion-reproductor h2 {
  margin-bottom: 15px;
  font-weight:bold;
  color: #a3d5ff;
  text-align: center;
}

.explicacion-reproductor h3 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #a3d5ff;
  text-decoration: underline;
  text-align: justify;
  
}
p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  max-width: 600px;
}

.cancion-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

  .generos-circulos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .genero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }

.codificacion-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}



.circulo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 8px;
  background-color: black;
}

.circulo.pequeno {
  width: 20px;
  height: 20px;
}

.circulo.mediano {
  width: 30px;
  height: 30px;
}

.circulo.grande {
  width: 45px;
  height: 45px;
}


.generos-circulos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.fila-codificacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 40px;
}

.fila-superior {
  margin-bottom: 20px;
}

.fila-inferior {
  margin-bottom: 60px;
}

.billboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard-numero {
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  background-color: black;
}

.titulo-codificacion {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  color: #a3d5ff;
  font-weight: bold;
  text-decoration: underline;
}

.ondas-danceability {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.onda {
  width: 80px;
  height: 40px;
}

.onda path {
  fill: none;
  stroke: white;
  stroke-width: 2.5;
  stroke-linecap: square;
}
